<% if (typeof global_error !== 'undefined') { %>
    <div class="alert alert-danger"><%= error %></div>
<% } %>
<% if (typeof global_success !== 'undefined') { %>
    <div class="alert alert-success"><%= success %></div>
<% } %>