<% if (typeof global_error !== 'undefined') { %>
    <div class="alert alert-danger"><%= global_error %></div>
<% } %>
<% if (typeof global_success !== 'undefined') { %>
    <div class="alert alert-success"><%= global_success %></div>
<% } %>