
<div class="container bg-light" style="padding-top: 0.75vw;" >
    <form action="/add" method="post" enctype="multipart/form-data">
        <div class="border-b">
            <h1>Редактор добавления игры</h1>
        </div>
        <div class="row">
            <div class="col-4 border-r">
                <div class="p-3">
                    <div style="height: 70px; padding-top: 10px; padding-top: 0 !important;">
                        <label for="">Название игры (18)</label>
                        <input type="text" name="title" placeholder="Нареките игру" required class="w-100" maxlength="18"> 
                    </div>
                    <hr>
                    <div style="height: 145px; padding-top: 10px; padding-top: 0 !important;">
                        <label for="">Описание игры (100)</label>
                        <textarea name="description" placeholder="Краткое описание игры" maxlength="100" style="height: 100px; resize: none;" class="w-100" required></textarea>
                    </div>
                    <hr>
                    <div style="height: 350px; padding-top: 10px; padding-top: 0 !important;">
                        <label for="">Изображение для вашей игры</label>
                        <input type="file" name="image" accept="image/*" required>
                    </div>
                    <hr>
                    <div style="height: 40px; padding-top: 10px; padding-top: 0 !important;">
                        <input type="file" name="script" accept="script/*" required>   
                    </div>
                    <hr>
                    <div style="height: 40px; padding-top: 10px; padding-top: 0 !important;">
                        <input type="file" name="style" accept="style/*" required>
                    </div>
                    <hr>
                    <div style="height: 40px; padding-top: 10px; padding-top: 0 !important;">
                        <input type="file" name="route" accept="route/*" required>
                    </div>
                    <hr>
                    <div style="height: 40px; padding-top: 10px; padding-top: 0 !important;">
                        <input type="file" name="view" accept="view/*" required>
                    </div>
                </div>  
            </div>
            <div class="col-8 p-3">
                <div class="d-flex" style="height: 70px; padding-top: 10px;">
                    <img src="/images/game_title.png" alt="">
                    <span style="margin-left: 10px;">Будет видно здесь</span>
                </div>
                <hr>
                <div style="height: 145px; padding-top: 10px;">
                    <img src="/images/game_description.png" alt="">
                    <span style="margin-left: 10px;">Описание игры отобраежается здесь(коротко, но емко)</span>
                </div>
                <hr>
                <div class="row" style="height: 350px; padding-top: 10px;">
                    <div class="col-auto">
                        <img src="/images/game_image.png" alt="">
                    </div>
                    <div class="col-auto">
                        <p>Картинка формата '.png', обязательно квадратная!<br>(желательно 500x500px)</p>
                    </div>       
                </div>
                <hr>
                <div style="height: 40px; padding-top: 10px;">
                    <span style="margin-left: 10px;">java script</span>
                </div>
                <hr>
                <div style="height: 40px; padding-top: 10px;">
                    <span style="margin-left: 10px;">css</span>
                </div>
                <hr>
                <div style="height: 40px; padding-top: 10px;">
                    <span style="margin-left: 10px;">route</span>
                </div>
                <hr>
                <div style="height: 40px; padding-top: 10px;">
                    <span style="margin-left: 10px;">view</span>
                </div>
            </div>
        </div> 
        <div class="border-t p-3" style="height: 70px;">
            <button class="btn btn-primary" type="submit" style="float: right;">Добавить игру</button>
        </div>
    </form>
</div>