<div class="container def-bg-settings">
    <div style="height: 800px;">
        <h1>Ваши Достижения</h1>
        <table>
            <thead>
                <tr>
                    <th>Тип достижения</th>
                    <th>Количество</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                <% achievements.forEach(achievement => { %>
                    <tr>
                        <td style="<%= achievement.achieved == true ? 'text-decoration: underline;' : '' %>">
                            <%= achievement.Name %>
                        </td>
                        <td><%= achievement.count %></td>
                        <td><%= achievement.achieved ? 'Да' : 'Нет' %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>       
    </div>
</div>