<footer class="footer py-2 footer_bg d-flex" style="width: 100%;margin-top: auto;">
    <div class="container">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-12 col-md-11">
  
            <section class="py-2 py-md-3 py-xl-8">
              <div class="container-fluid overflow-hidden">
                <div class="row gy-4 gy-lg-0 justify-content-xl-between">
                  
                  <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="widget">
                      <h4 class="widget-title mb-4"></h4>
                      <ul class="list-unstyled">
                        <li class="mb-2">
                          <a href="#!" class="link-secondary text-decoration-none"></a>
                        </li>
                        <li class="mb-2">
                          <a href="#!" class="link-secondary text-decoration-none"></a>
                        </li>
                        <li class="mb-2">
                          <a href="#!" class="link-secondary text-decoration-none"></a>
                        </li>
                        <li class="mb-2">
                          <a href="#!" class="link-secondary text-decoration-none"></a>
                        </li>
                        <li class="mb-0">
                          <a href="#!" class="link-secondary text-decoration-none"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="widget">
                      <h4 class="widget-title mb-4"></h4>
                      <ul class="list-unstyled">
                        <li class="mb-2">
                          <a href="#!" class="link-secondary text-decoration-none"></a>
                        </li>
                        <li class="mb-2">
                          <a href="#!" class="link-secondary text-decoration-none"></a>
                        </li>
                        <li class="mb-2">
                          <a href="#!" class="link-secondary text-decoration-none"></a>
                        </li>
                        <li class="mb-2">
                          <a href="#!" class="link-secondary text-decoration-none"></a>
                        </li>
                        <li class="mb-0">
                          <a href="#!" class="link-secondary text-decoration-none"></a>
                        </li>
                      </ul>
                    </div>
                  </div> 

                  
                </div>
              </div>
            </section>
  
            <div class=" py-md-2 py-xl-8">
              <div class="container-fluid overflow-hidden">
                <div class="row gy-4 gy-md-0 align-items-md-center">
                  <div class="col-xs-12 col-md-7 order-1 order-md-0">
                    <div class="copyright text-center text-md-start" style="color: rgb(255, 255, 255);">
                      &copy; 2025. PUP04ka Copiright
                    </div>
                  </div>
  
                  <div class="col-xs-12 col-md-5 order-0 order-md-1">
                    <div class="social-media-wrapper">
                      <ul class="list-unstyled m-0 p-0 d-flex justify-content-center justify-content-md-end">
                        <div class="credits text-center text-md-start mt-2 fs-8" style="color: rgb(255, 255, 255);">
                          Built by BootstrapBrain with <span class="text-primary">&#9829;</span>
                        </div>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  </footer>