<nav class="navbar navbar-expand-lg sticky-top border-bottom" style="background-color: rgb(117, 126, 255); border-bottom: 0 !important;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Магазинчик</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">     
        </ul>
        <% if (session.userId) { %>
            <a href="/acc_page" class="btn btn-primary nav-btn nav-btn-with-img" style="padding: 0 !important; width: 40px;"><img src="/images/avatar.png" alt="Button Images" class="img-responsive nav-btn-img"></a>
        <% } else { %>
            <a href="/register" class="btn btn-primary nav-btn">Sign Up</a>
            <a href="/login" class="btn btn-primary nav-btn">Log In</a>
        <% } %>   
        <button class="btn btn-primary nav-btn nav-btn-with-img" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><img src="/images/list.png" alt="Button Images" class="nav-btn-img"></button>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header" style="height: 55px;">
            <h4 class="d-flex justify-content-between align-items-center mt-4">
              <span class="text-muted">Label</span>
            </h4>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
          </div>
          <div class="offcanvas-body">
      
          </div>
          <div><a href="/accept"><img src="/images/shoping_cart.png" alt="" width="38px" class="float-end" style="margin-right: 10px; margin-bottom: 10px;"></a></div>
        </div>
      </div>
    </div>
  </div>
  