<nav class="navbar navbar-expand-lg sticky-top border-bottom header_bg" style=" border-bottom: 0 !important;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><h3><b>SportI</b></h3></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">     
        </ul> 
      </div>
  <% if (session.userId) { %> 
        <button class='btn' type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
          <img src="/images/list.png" alt="" width="40px">
        </button>
    <% } else { %>
        <a class="btn" href="/login">
            <p style="font-size: 21px; margin-bottom: 0;">
              <b>Log In</b>
            </p>
        </a>
        <a class="btn" href="/register">
            <p style="font-size: 21px; margin-bottom: 0;">
              <b>Sign Up</b>
            </p>
        </a>

  <% } %>  
</nav>
  

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="width: 300px; background-color: transparent;">
          <div class="offcanvas-header p-2 CanvaHeader" style="height: 65px;">
            <span class="mt-3">
              <h4 class="d-flex" style="margin: -12px 0 0 12px !important;">
                <b>
                  <%- session.userName %>
                </b>
              </h4>
            </span>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
          </div>
          <div class="w-100 CanvaThumbnail" style="padding: 40px;height: 300px;">
            <img src="<%- session.userThumbnail %>" alt="" class="rounded-circle profile-pic tr-mask" style="width: 220px;height: 220px; margin: 0px; border: 0 !important; background-color: white !important;">
          </div>
          <div class="offcanvas-body CanvaBody p-0">
            <a href="/acc_page" class="text-decoration-none">
              <div class="w-100 p-2 d-flex" style="height: 59px;">
                <div class="m-0 p-0 h-100 d-inline-block" style="width: 43px; vertical-align: middle; text-align: center;">
                  <img src="/images/Mini_acc_img.png">
                </div>
                <div class="m-0 p-0 h-100 d-inline-block" style="vertical-align: middle; text-align: center; margin-left: 12px !important;">
                  <h3>Account</h3>
                </div>
              </div>
            </a>
            <a href="/logout" class="text-decoration-none">
              <div class="w-100 p-2 d-flex" style="height: 59px;">
                <div class="m-0 p-0 h-100 d-inline-block" style="width: 43px; vertical-align: middle; text-align: center;">
                  <img src="/images/Mini_logout_img.png">
                </div>
                <div class="m-0 p-0 h-100 d-inline-block" style="vertical-align: middle; text-align: center; margin-left: 12px !important;">
                  <h3>Logout</h3>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  