<nav class="navbar navbar-expand-lg sticky-top border-bottom header_bg" style=" border-bottom: 0 !important;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><h3><b>GameCenter</b></h3></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">     
        </ul> 
      </div>
    </div>
  </nav>
  <% if (session.userId) { %>
    <div class="p-0 m-0 AccBtn text-decoration-none" style="display: flex; flex-direction: column; justify-content: flex-end;">
      <div class="w-100" style="height: 39px; vertical-align: middle; text-align: center;">
        <button class='' type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><img class="h-100 p-1" src="/images/avatar.png" alt="Button Images"></button>
      </div>
    </div>
    <% } else { %>
      <div class="p-0 m-0 LogRegBtn text-decoration-none" style="display: flex; flex-direction: column; justify-content: flex-end;">
        <div class="w-100" style="height: 39px; margin-top: auto; vertical-align: middle; text-align: center;">
          <a href="/login"><b>Log In</b></a>
        </div>
        <div class="w-100" style="height: 39px; margin-top: 15px; vertical-align: middle; text-align: center;">
          <a href="/register"><b>Sign Up</b></a>
        </div> 
      </div>
  <% } %>  
  

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="width: 300px; background-color: transparent;">
          <div class="offcanvas-header p-2 CanvaHeader" style="height: 65px;">
            <span class="mt-3">
              <h4 class="d-flex " style="margin-bottom: 1px;">
                <b>
                  <%- session.userName %>
                </b>
              </h4>
              <p"><%- session.userRank %></p>
            </span>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
          </div>
          <div class="w-100 CanvaThumbnail" style="padding: 40px;height: 300px;">
            <img src="<%- session.userThumbnail %>" alt="" class="rounded-circle profile-pic" style="width: 220px;height: 220px; margin-top: 0px;">
          </div>
          <div class="offcanvas-body CanvaBody p-0" style="border-radius: 5px 5px;">
            <a href="/acc_page" class="text-decoration-none">
              <div class="w-100 p-2 d-flex" style="height: 59px;">
                <div class="m-0 p-0 h-100 d-inline-block" style="width: 43px; vertical-align: middle; text-align: center;">
                  <img src="/images/Mini_acc_img.png">
                </div>
                <div class="m-0 p-0 h-100 d-inline-block" style="vertical-align: middle; text-align: center; margin-left: 8px !important;">
                  <h3>Аккаунт</h3>
                </div>
              </div>
            </a>
            <a href="/acc_page" class="text-decoration-none">
              <div class="w-100 p-2 d-flex" style="height: 59px;">
                <div class="m-0 p-0 h-100 d-inline-block" style="width: 43px; vertical-align: middle; text-align: center;">
                  <img src="/images/Mini_friends_img.png">
                </div>
                <div class="m-0 p-0 h-100 d-inline-block" style="vertical-align: middle; text-align: center; margin-left: 8px !important;">
                  <h3>Друзья</h3>
                </div>
              </div>
            </a>
            <a href="/acc_page" class="text-decoration-none">
              <div class="w-100 p-2 d-flex" style="height: 59px;">
                <div class="m-0 p-0 h-100 d-inline-block" style="width: 43px; vertical-align: middle; text-align: center;">
                  <img src="/images/Mini_ach_img.png">
                </div>
                <div class="m-0 p-0 h-100 d-inline-block" style="vertical-align: middle; text-align: center; margin-left: 8px !important;">
                  <h3>Достижения</h3>
                </div>
              </div>
            </a>
            <a href="/acc_page" class="text-decoration-none">
              <div class="w-100 p-2 d-flex" style="height: 59px;">
                <div class="m-0 p-0 h-100 d-inline-block" style="width: 43px; vertical-align: middle; text-align: center;">
                  <img src="/images/Mini_logout_img.png">
                </div>
                <div class="m-0 p-0 h-100 d-inline-block" style="vertical-align: middle; text-align: center; margin-left: 8px !important;">
                  <h3>Выйти</h3>
                </div>
              </div>
            </a>
          </div>
          <div><a href="/accept"><img src="/images/shoping_cart.png" alt="" width="38px" class="float-end" style="margin-right: 10px; margin-bottom: 10px;"></a></div>
        </div>
      </div>
    </div>
  </div>
  