<div class="container CanvaThumbnail" style="width: 600px; height: 600px;padding:50px; padding-top: 5vw;">
    <h3>Вход</h3>
    <form action="/login" method="POST">
      <div class="form-group mb-3">
          <label>Мыло</label>
          <input type="text" class="form-control" placeholder="Мыло свое помнишь?" name="email">
      </div>
      <div class="form-group mb-3">
          <label>Секретные циферки</label>
          <input type="password" class="form-control" placeholder='А циферки секретные не забыл?' name="password">
        </div>
      <div class="d-grid mt-3">
      <button type="submit" class="btn btn-primary form-control">Войти в Ислам</button>
      </div>
    </form>
    <% if (typeof error !== 'undefined') { %>
        <div class="alert alert-danger mt-3"><%= error %></div>
    <% } %>
</div>