<div class="container def-bg-settings" style="width: 600px;">
    <div style="width: 100%; height: 800px;padding:50px; padding-top: 5vw;">
        <h3>Registration</h3>
        <form action="/register" method="POST" name>
            <div class="form-group mb-3">
                <label>Nickname</label>
                <input type="text" class="form-control" placeholder="Come up with your nickname" name="username">
            </div>
            <div class="form-group mb-3">
                <label>Email</label>
                <input type="text" class="form-control" placeholder="Your email" name="email">
            </div>
            <div class="form-group mb-3">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Your password" name="password">
            </div>
            <div class="form-group mb-3">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Repeat password" name="confirmpassword">
            </div>
            <div class="d-grid mt-3">
                <button type="submit" class="btn btn-primary form-control">Sign Up</button>
            </div>
        </form>
        <% if (typeof error !== 'undefined') { %>
            <div class="alert alert-danger mt-3"><%= error %></div>
        <% } %>
    </div>
</div>