<div class="container def-bg-settings">
    <div style="height: 800px">
        <form id="avatarForm" action="/upload" method="POST">
            <div id="avatarContainer">
                <% avatars.forEach(function(avatar, index) { %>
                    <label class="avatar" data-id="<%= index %>" style="margin-top: 100px;">
                        <input type="checkbox" name="avatar" value="<%= index %>" style="display: none;">
                        <img class="rounded-circle profile-pic" src="<%= avatar.url %>" alt="Avatar" />
                    </label>
                <% }) %>
            </div>
            <button class="btn btn-primary" type="submit" style="float: right;">Submit</button>
        </form>
    </div>
</div>
